/*CSS distribucion pagina*/
*{
    box-sizing: border-box;
}

.contenedor > *{
    text-align: center;
    padding: 8px;
   
    
}
.contenedor{
    border-radius: 4px;
    box-shadow: -1px 1px 7px 0px rgba(0,0,0,0.75);
    display:grid;
    gap:8px;
    grid-template:
        "Navegador" 96px
        "Main"  auto /*lo suyo es poner el main para que se adapte con el contenido*/
        "Footer" 192px;
}


/*CSS Navegador*/

.navegador{
    grid-area: Navegador;
    background: linear-gradient(270deg, #CFEDD2 0%, #DEEDCF 0.01%, #FFF 98.09%);
    border-bottom: black 1px solid;
}

.contenedorNavegador{
    display:grid;
    grid-template:
        "vacionav1 logo vacionav2 opciones vacionnav3 buscardor vacionav4 avatar vacionav5"/
            32px    97px  auto       443px    auto       413px     auto      84px     32px

}

.logo{
    grid-area:logo;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.logo img{
    width: 80px;
    height: 80px;
}

.opciones{
    grid-area:opciones;
    display: flex;
    align-items: flex-start;
   padding-top: 16px;
    gap: 48px;
}

.MisActi{
    height: 42px;
    width: 148px;
    justify-content: center;
    align-items: center;
    gap: 64px;
    border-radius: 20px;
    border: 1px solid  #111D38;
    background: #FFF;
    color:#111D38;
    font-family: Cantarell;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
}

.Servi{
    height: 42px;
    width: 99px;
    justify-content: center;
    align-items: center;
    gap: 64px;
    border-radius: 20px;
    border: 1px solid #7D02A6;
    background: #FFF;
    color: #7D02A6;
    font-family: Cantarell;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
}

.Contac{
    height: 42px;
    width: 100px;
    justify-content: center;
    align-items: center;
    gap: 64px;
    border-radius: 20px;
    border: 1px solid #7D02A6;
    background: #FFF;
    color: #7D02A6;
    font-family: Cantarell;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
}
.barraBuscar{
    grid-area:buscador;
    color:#111D38;
    font-size: 24px;
    font-style: normal;
    font-family: Cantarell;
    width: 500px;
    height: 42px;
    margin-top: 16px;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

.input-icon{
    margin-left: 108%;
   width: 30px;
   height: 30px;
   transform: translateY(-120%);
}

.avatar{
    grid-area:avatar;
}
.avatar img{
    width: 84px;
    height: 80px;
    
}

/*CSS del Main*/

.main{
    grid-area: Main;
    margin:0 auto;
}

section{
    padding:24px;
}

.botones{
    display:grid;
    gap: 24px;
    grid-template:
        "boton1  boton2" 50px/
         317px  283px;
}

.boton1 input{
    padding:8px;
    color:white;
    text-align: center;
    grid-area: boton1;
    border-radius: 20px;
    background: #111D38;
    box-shadow: 10px 4px 10px 0px rgba(0, 0, 0, 0.50);
    font-family: Cantarell;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 33.6px;
    width: 317px;
}

.boton2 input{
    padding:8px;
    grid-area: boton2;
    box-shadow: 10px 4px 10px 0px rgba(0, 0, 0, 0.50);
    text-align: center;
    border-radius: 20px;
    opacity: 0.8;
    background: #7D02A6;
    color:white;
    font-family: Cantarell;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 33.6px;
    width: 283px;
}

.targetas{
    display: grid;
    gap: 40px 240px;
    grid-template:
        "targeta1 targeta2" 232px
        "targeta3 targeta4" 232px /
            436px  436px;
       
}

.targeta1{
    box-shadow: 10px 4px 10px 0px rgba(0, 0, 0, 0.50);
    border-radius: 4px;
    grid-area: targeta1;
}

.targeta2{
    box-shadow: 10px 4px 10px 0px rgba(0, 0, 0, 0.50);
    border-radius: 4px;
    grid-area: targeta2;
}

.targeta3{
    box-shadow: 10px 4px 10px 0px rgba(0, 0, 0, 0.50);
    border-radius: 4px;
    grid-area: targeta3;
}

.targeta4{
    box-shadow: 10px 4px 10px 0px rgba(0, 0, 0, 0.50);
    border-radius: 4px;
    grid-area: targeta4;
}

.paginas{
    text-align: center;
    display: grid;
    grid-template:
        "vacio1 pag1 pag2 pag3 vacio2" 56px/
         auto 56px 56px 56px auto;
}

.pag1{
    grid-area: pag1;
    background: #111D38;
    color:white;
    font-family: Lora;
    font-size: 48px;
    font-style: normal;
    font-weight: 400;
    
    
}

.pag2{
    grid-area:pag2;
    border: 1px solid #000;
    background:white;
    font-family: Lora;
    font-size: 48px;
    font-style: normal;
    font-weight: 400;
   
}

.pag3{
    grid-area:pag3;
    border: 1px solid #000;
    background:white;
    font-family: Lora;
    font-size: 48px;
    font-style: normal;
    font-weight: 400;
}

/* CSS del Footer*/

.footer{
    grid-area: Footer;
    background: #DEEDCF;
    border-top: black 1px solid;
}

.contenedorFooter{
    padding:8px;
    display: grid;
    grid-template:
    "vacio3 privacidad  Contacto vacio4" 111px/
        auto   275px     275px     auto;

    gap:400px;
}
.privacidad{
    text-align: left;
    grid-area: privacidad;
}
.privacidad label{
    color: #111D38;
    font-family: Cantarell;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 33.6px;
}

.privacidad p{
    color: #111D38;
    font-family: Cantarell;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 22.4px;
}

.Contacto{
    text-align: left;
    grid-area: Contacto;
}

.Contacto label{
    color: #111D38;
    font-family: Cantarell;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 33.6px;
}

.Contacto p{
    color: #111D38;
    font-family: Cantarell;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 22.4px;
}



/*xuleta para query
@media screen and (min-width:576px){
    .container{
        grid-template:
        "Navegador  Main" 831px
        "Footer  Footer" 192px /
         200px   auto;
         esto es el ancho de cada zona dejas siempre una auto y repartes con las
         demas
    }
}
