.productos{
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
}

.rectangle{
    width: 1440px;
    height: 600px;
}

.contenidoybotones{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 64px;
    position: absolute;
    left: 56px;
    top: 32px;
}

.contenido{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
}

.tituloydescripcion{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}

.cuales{
    width: 741px;
    height: 48px;
    color: var(--marca-color-de-letras, #111D38);

    /* Titulos/TituloM */
    font-family: Lora;
    font-size: 48px;
    font-style: normal;
    font-weight: 400;
    line-height: 67.2px; /* 140% */
}

.descubre{
    width: 639px;
    height: 25px;
    color: var(--marca-color-de-letras, #111D38);

    /* Texto/Descripcion */
    font-family: Cantarell;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 33.6px; /* 140% */
}

.tarjetas{
    display: flex;
    align-items: flex-start;
    gap: 16px;

    /* SombraTarjeta */
    box-shadow: 10px 4px 10px 0px rgba(0, 0, 0, 0.50);
}

/*------------------------------------------------------------------------------------------------------------------*/
.tarjeta1{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
}


.verde1{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;


.tarjetita1{
    width: 320px;
    height: 296px;
    border: 1px solid var(--marca-color-de-letras, #111D38);
    background: var(--marca-color-de-fondo, #DEEDCF);
}

.itactividades{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    position: absolute;
    left: 8px;
    top: 8px;
}

.imagen1{
    width: 304px;
    height: 184px;
    background: url(img/home/fotoactividades.png), lightgray 50% / cover no-repeat, #979393;
}

.tact{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 22px;
}

.actividades{
    width: 129px;
    height: 18px;
    color: var(--marca-color-de-letras, #111D38);

    /* Texto/Descripcion */
    font-family: Cantarell;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 33.6px; /* 140% */
}

.cursos{
    width: 280px;
    height: 43px;
    color: var(--marca-color-de-letras, #111D38);
    text-align: center;

    /* Texto/Tarjeta */
    font-family: Cantarell;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 22.4px; /* 140% */
}

/*------------------------------------------------------------------------------------------------------------------*/

.tarjeta2{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
}

.verde2{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
}

.tarjetita2{
    width: 320px;
    height: 296px;
    border: 1px solid var(--marca-color-de-letras, #111D38);
    background: var(--marca-color-de-fondo, #DEEDCF);
}

.itsesiones{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 6px;
    position: absolute;
    left: 8px;
    top: 8px;
}

.imagen2{
    width: 304px;
    height: 184px;
    position: absolute;
    left: 8px;
    top: 8px;
    background: url(img/home/fotovivo.png), lightgray 50% / cover no-repeat, #979393;
}

.tses{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 13px;
}

.sesiones{
    width: 221px;
    height: 28px;
    position: absolute;
    right: 49px;
    bottom: 70px;
    color: var(--marca-color-de-letras, #111D38);

    /* Texto/Descripcion */
    font-family: Cantarell;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 33.6px; /* 140% */
}

.charla{
    width: 280px;
    height: 41px;
    position: absolute;
    left: 20px;
    bottom: 16px;
    color: var(--marca-color-de-letras, #111D38);
    text-align: center;

    /* Texto/Tarjeta */
    font-family: Cantarell;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 22.4px; /* 140% */
}

/*------------------------------------------------------------------------------------------------------------------*/
.tarjeta3{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
}

.verde3{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
}

.tarjetita3{
    width: 320px;
    height: 296px;
    border: 1px solid var(--marca-color-de-letras, #111D38);
    background: var(--marca-color-de-fondo, #DEEDCF);
}

.itauto{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 6px;
    position: absolute;
    left: 8px;
    top: 8px;
}

.imagen3{
    width: 304px;
height: 184px;
position: absolute;
left: 8px;
top: 8px;
background: url(img/home/fotoauto.png), lightgray 50% / cover no-repeat, #979393;
}

.tau{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 14px;
}

.autoevaluacion{
    width: 170px;
    height: 26px;
    position: absolute;
    left: 75px;
    bottom: 72px;
    color: var(--marca-color-de-letras, #111D38);

    /* Texto/Descripcion */
    font-family: Cantarell;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 33.6px; /* 140% */
}

.conoce{
    width: 279px;
    height: 42px;
    position: absolute;
    right: 20px;
    bottom: 16px;
    color: var(--marca-color-de-letras, #111D38);
    text-align: center;

    /* Texto/Tarjeta */
    font-family: Cantarell;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 22.4px; /* 140% */
}

/*------------------------------------------------------------------------------------------------------------------*/
.tarjeta4{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
}

.verde4{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
}

.tarjetita4{
    width: 320px;
    height: 296px;
    border: 1px solid var(--marca-color-de-letras, #111D38);
    background: var(--marca-color-de-fondo, #DEEDCF);
}

.itapoyo{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 6px;
    position: absolute;
    left: 8px;
    top: 8px;
}

.imagen4{
    width: 304px;
    height: 184px;
    position: absolute;
    left: 8px;
    top: 8px;
    background: url(img/home/fotoherramientas.png), lightgray 50% / cover no-repeat, #979393;
}

.tapo{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 22px;
}

.herramientas{
    width: 260px;
    height: 18px;
    position: absolute;
    left: 30px;
    bottom: 80px;
    color: var(--marca-color-de-letras, #111D38);

    /* Texto/Descripcion */
    font-family: Cantarell;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 33.6px; /* 140% */
}

.trato{
    width: 280px;
    height: 42px;
    position: absolute;
    left: 20px;
    bottom: 16px;
    color: var(--marca-color-de-letras, #111D38);
    text-align: center;

    /* Texto/Tarjeta */
    font-family: Cantarell;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 22.4px; /* 140% */
}

/*------------------------------------------------------------------------------------------------------------------*/

.framebotones{
    display: flex;
    width: 656px;
    height: 39px;
    padding: 16px;
    justify-content: center;
    align-items: center;
    gap: 16px;
    border-radius: 20px;
    border: 1px solid var(--contraste-color-lila, #7D02A6);
    background: var(--Fondo, #FFF);
}

.consultar{
    color: var(--contraste-color-lila, #7D02A6);

    /* Texto/Tarjeta */
    font-family: Cantarell;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 22.4px; /* 140% */
}